.top-header{
    background-image: url("./Rectangle\ 21.png");
    height: 40vh;
    object-fit: cover;
}
.top-header h1{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.338);
    height: 100%;
    color: white;
    font-weight: 600;
    font-size: 3.5rem;
}